@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root{
    --maincolor:#163235;
    --secondclr:#4468E2;
    --thirdcolor:#1C4961;
}
*{
    font-family: 'Roboto', sans-serif;
   
    text-decoration: none;
}
.total-home-div{
    font-size: 14px;
}
.header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width:100%;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    padding: 2rem 7%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    z-index: 100000;
    background-color: white;
}
.header #logo{
    color: black;
    font-size: 3rem;
    height: 50px;
}



.header #logo span{
    color: var(--secondclr);
}
.navbar a{
    font-size: 1.7rem;
    margin-left: 1rem;
    padding: 1rem;
    color: var(--maincolor);
}
.navbar a:hover{
    color: var(--secondclr);
}
.navbar.active{
    left: 0;
}
.icons #menu-bars{
    font-size: 2rem;
    color: black;
    display: none;

}
.icons #menu-bars:hover{
  color: #4468E2;
}
.background-image{

    position: relative;
    background-image: url(../../Assets/HomePageMid.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg1{
    background-image: url(../../Assets/travel1.jpg);
    width: 100%;
    height: 700px;
    background-size: cover;
    background-attachment: fixed;
}

.bg2{
    background-image: url(../../Assets/travel3.jpg);
    height: 700px;
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
}

.background-image{
    display: flex;
    flex-direction: column;
   
}
.background-image h1{
    font-size: 50px;
    color: white;
}
.background-image h1 span{
    color: var(--secondclr);
}
.background-image p{
    color: white;
    font-size: 1.5rem;
    padding: 1rem 3rem;
}
.background-image a{
    padding: 1.5rem 2rem;
    color: white;
    font-size: 1.5rem;
    background: var(--secondclr);

}
.background-image a:hover{
    transform: scaleY(1.1);
    letter-spacing: 2px;
    border-radius: 15px;
}
.our-services{
    padding: 2rem 7%;
    

}
.our-services h1{
    color: black;
    font-size: 40px;
    text-align: center;
}
.our-services h1 span{
    color: var(--secondclr);
}
.main-services{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
}
.main-services .inner-service{
    flex: 1 1 200px;
    padding: 2rem 1rem;
    text-align: center;
}
.inner-icons img{
    width: 50px;
    padding: 1.5rem 0;
}
.inner-service h2{
    font-size: 2rem;
    color: black;
    padding: .5rem;
}
.inner-service h2 span{
    color: var(--secondclr);
}

.inner-service p{
    font-size: 1.5rem;
    padding: 0;
    text-align: left;
}
.recomended-destination{
    padding: 3rem 7%;
}
.recomended-destination h1{
    font-size: 40px;
    text-align: center;
    color: black;
    padding: 1rem 0;
}
.recomended-destination h1 span{
    color: var(--secondclr);
}
.recomended-destination h1 span:hover{
    letter-spacing: 4px;
}
.main-destination{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}
.main-destination div{
    cursor: pointer;
}
.main-destination div:hover{
    transform: scale(1.01);
    transition: 0.2s all;
}
.main-destination .inner-destination{
    flex: 280px;
}
.main-destination .inner-destination .main-image img{
    width: 100%;
}
.inner-destination h2{
    font-size: 2rem;
    padding: 1rem 0;
    display: flex;
    justify-content: center;
}
.inner-destination p{
    font-size: 1.5rem;
}
.dist-icons{
    display: flex;
    align-items: center;
    justify-content: center;
}

.our-blog{
    padding: 3rem 7%;
}
.our-blog h1{
    color: black;
    font-size: 40px;
    text-align: center;
    padding: 1.5rem 0;
}
.our-blog h1 span{
    color: var(--secondclr);
}
.our-blog h1 span:hover{
    letter-spacing: 3px;
}

.mian-blog{
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}
.inner-blog{
    flex: 1 1 40rem;
}
.inner-blog img{
    width: 100%;
    height: 480px;
    
}
.blog-images img{
    height: 460px;
}
.reviews{
    padding: 3rem 7%;
}

.reviews h1{
    color: black;
    text-align: center;
    font-size: 40px;
    padding: 1.5rem 0;
}
.reviews h1 span{
    color: var(--secondclr);
}
.mian-review{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}


.mian-review div:hover{
transform:  scale(1.03);
transition: 0.2s all;
}
.inner-review{
    flex: 1 1 30rem;
    padding: 2rem 4rem;

    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.inner-review p{
    font-size: 1rem;
}
.review-client{
    display: flex;
    align-items: center;
    padding: 2rem 1;
}
.review-client span{
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 20px;
    color: var(--secondclr);
}


#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 1;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: lightblue;
    color: black;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}

#myBtn:hover {
    background-color: red;
    color: white;
}


#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 15px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #3498db;
    color: white;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 4px;
    transition: background-color 0.3s;
  }
  
  #myBtn:hover {
    background-color: #555;
  }
  
  .bottom-chat{
    border: solid 1px grey;
    border-radius: 30px;
    padding: 20px;
    background-color: rgb(191, 236, 236);
    box-shadow: 10px 5px 15px 10px grey;
  }


@media (max-width:768px) {
    html{
        font-size: 55%;
    }
    .icons #menu-bars{
        display: initial;
    
    }
    .header{
        padding: 2rem;
    }



}
