.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color:white;
  border-radius:0 55px 55px;
  color: black;
}

.navbar-logo img {
  width: 100px;
  height: auto;
}

.navbar-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.navbar-toggle span {
  width: 30px;
  height: 3px;
  background-color: white;
  margin: 3px 0;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar-links li a {
  text-decoration: none;
  
  transition: color 0.3s;
}

.navbar-links li a:hover {
  color: red;
  text-decoration: none; 
}


@media (max-width: 768px) {
  .navbar-toggle {
    display: flex;
  }
  
  .navbar-links {
    position: absolute;
    top: 80px;
    left: -228px;
    width: 100%;

    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px 0;
    transform: translateY(-100%);
    transition: transform 0.3s;
  }

  .navbar-links.active {
    transform: translateY(0);
    left: -228px;
  }
}



/* Your existing CSS rules can remain mostly unchanged. */
/* Navbar Styles */
.navbar {
  border-radius: 0 55px 55px;
  background-color: aliceblue;
  color: black;
}

.image-logo {
  width: 100px;
  height: auto;
}

/* Mobile Styles */
@media (max-width: 768px) {
  .MuiDrawer-root {
    width: 240px; /* Adjust drawer width */
  }
}
