@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

  .navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    color:black;
  }
  
  .navbar-logo {
    font-size: 24px;
  }
  


  .logo-image{
    height: 120px;
    width: 130px;
 
  }

  .navbar-menu {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-item {
    padding: 0 15px;
    
  }
  
  .nav-item a {
    margin-top: -10px;
    color:black;
    text-decoration: none;
    font-size: 18px;
  }
  
  .nav-item a:hover {
    color: red;
    transform: scale(1.5);
    transition: 0.2s all;
  }
  
  .navbar-toggle {
    display: none;
    cursor: pointer;
  }
  
  .bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px 0;
  }

  /* Media Query for responsive design */
  @media (max-width: 768px) {
    .navbar-menu {
      display: none;
      flex-direction: column;
      background-color: #333;
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
    }
  
    .navbar-menu.show {
      display: flex;
    }
  
    .navbar-menu li {
      text-align: center;
      padding: 10px;
    }
  
    .navbar-toggle {
      display: block;
    }
  }
  